input:checked ~ .dot{
transform: translateX(100%);
}
.swiper {
    margin: 5px auto;
    width: 50%;
    height: 200px;
  }
  .swiper-slide{
    position: relative;

  }
  .text{
    width: 100%;
    position: absolute;
    text-align:center;
    bottom: 0;
    background-color:rgba(192,192,192,0.3);
    font-weight: 500;
    font-size: 20px;
    padding: 15px;
    transform: translateY(0px);
    transition: all .3s ease-out;
  }
  .swiper-slide:hover .text{
    transform: translateY(60px);
    /* display: none; */
    transition: all .3s ease-in;
  }

  @media (max-width:768px){
    .nav-list{
      display: none;
    }
    .show{
      display: block;
    }
  }
